$primary-color: #D8B875;
$primary-blue: #0B1027;
$primary-gray: #252C32;
$white: #fff;
$black: #000;
$primary-gradient:linear-gradient(180deg, #FCE677 10%, #906B3E 90%);
$primary-gradient-reverse:linear-gradient(180deg,  #906B3E 10%,#FCE677 90%);