@import "../../../public/scss/utils";

.dashboard{
    margin-top: 20px;

    

    .content-text {
        font-weight: 500;
        .fradient-text{
            display: flex;
            margin-top: 20px;
            margin-bottom: 4px;
        }
        .section-num{
            display: flex;
            padding-right: 30px;
            font-style: italic;
        }
    }
}